<h3>
  {{title}}
</h3>
<hr>
<!-- <fruta></fruta>
<empleado-tag></empleado-tag>-->
<nav>
  <a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']">Home</a> -
  <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Frutas</a> -
  <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a> -
  <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a> -
  <a [routerLink]="['/coches']" [routerLinkActive]="['activado']">Coches</a>

</nav>
<hr>
<router-outlet></router-outlet>
