
<h2>
  {{titulo}}
</h2>
<br/>
<br/>
<!-- Indicar que es un formulario de Angular -->
<form #formFilter="ngForm" (ngSubmit)="onSubmit()" id="form-filter-program" >
  <div class="row">
    <label>Programa Origen  </label>
    <select id="programOrigin">
      <option selected="selected" disabled>Programa origen</option>
      <option value="PTO">PTO</option>
      <option value="PVC">Programa Viajero</option>
      <option value="Indefinido">Indefinido</option>
    </select>
  </div>
    <div class="row">
    <label>Programa Destino  </label>
    <select id="programDestino">
      <option selected="selected" disabled>Programa destino... </option>
      <option value="PVC">Programa Viajero</option>
      <option value="indefinido">Indefinido</option>
    </select>
    </div>
    <div class="row">
    <label>Tipo Respuesta  </label>
    <select id="responseType">
      <option selected="selected" disabled>Type of Response...</option>
      <option value="GL/RL">GL/RL</option>
      <option value="Detail">Detail</option>
    </select>
    </div>
    <!-- Deshabilitar el boton en caso de que el formulario sea invalido -->
    <input type="submit" value="{{titulo}}" [disabled]="!formFilter.form.valid"  class="btn btn-success" >

  </form>
