<h3>
  {{titulo}}
</h3>
<hr/>

<!-- Indicar que es un formulario de Angular -->
<form #formProducto="ngForm" class="col-lg-6" id="form-producto" >

  <label>Nombre</label>
  <input type="text" class="form-control" >

  <label>Descripcion</label>
  <textarea class="form-control" ></textarea>

  <label>Precio</label>
  <input type="text" class="form-control" >

  <label>Imagen</label>
  <input type="file" class="form-control" >

  <input type="submit" value="{{titulo}}" class="btn btn-success" >

</form>
